# yaml-language-server: $schema=https://raw.githubusercontent.com/oapi-codegen/oapi-codegen/HEAD/configuration-schema.json
package: client
generate:
  client: true
additional-imports:
  - alias: .
    package: github.com/dcm-project/control-plane/api/gitops/v1alpha1
output-options:
  skip-prune: true
